.input_grupo {
    width: 100%;
    margin-bottom: 1.5em;
}

.input_grupo label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.6em;
    text-align: left;
}

.input_grupo input,
.input_grupo select,
.input_grupo textarea {
    width: 100%;
    font-size: 1.1em;
    padding: 0.8em;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}