.homeContainer {
  width: 100%;
}


.topBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.cadastro {
  background: #0d1321;
  color: #fff;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  margin-right: 0;
}

.cadastro:hover {
  background: #fcbfb7;
  color: #0d1321;
}

.secaoEventos {
  margin-top: 2rem;
}

.secaoEventos:nth-of-type(3) {
  margin-top: 4rem; /* aumenta só na terceira seção */
}

.pesquisaInput {
  padding: 0.7em 0.7em;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
  outline: none;
  background: #fff;
}

.botaoBusca {
  background-color: #0d1321;
  color: white;
  padding: 0.7em 1.2em;
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.botaoBusca:hover {
  background-color: #fcbfb7;
  color: #0d1321;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.botaoVoltar {
  background: #0d1321;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5em;
  transition: background 0.2s;
}
.botaoVoltar:hover {
  background: #fcbfb7;
  color: #fff;
}