.container{
    min-height: 75vh;
    line-height: 1.7;
}

.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.em {
    margin-top: 1.5em;
}
/*Animação de Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 0.8s ease;
}